<div class="container">
<div class="row text-center">
<div class="jumbotron front-title">
<h1>Welcome to social app</h1>
<%= link_to "signup", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
</div>
</div>