// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  padding-top: 50px;
   }
   h1,h2 {
    font-family: 'Indie Flower', cursive;
   }

.form-inputs{
  font-family: 'Indie Flower', cursive;
}
  
.form-control{
  width:25%;

}
label{
  font-size: 15px;
}
